*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
img{
    outline: none;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.wrapper{
    width: 1170px;
    margin: 0px auto;
}
.clearfix{
    clear: both;
}

.container{
    max-width: 1170px !important;
    margin: 0px auto;
}

/*** top header start ***/

.top_header{
    overflow: hidden;
    position: relative;
}
.top_header .top_header_bg{
    background-image: url(../images/top_header_shape_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 48px;
}

.top_header .dip_gry{
   background-image: url(../images/top_header_shape_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 48px;
}
.top_header img.gry_shade{
    width: 100%;
    height: 100%;
}
.no_padd{
    padding-left: 0px;
    margin-left: 0px;
}
.top_header p{
    font-size: 14px;
    text-align: center;
    padding: 13px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 300;
}
.top_header p.call{
    font-size: 16px;
    padding: 12px;
    float: left;
    margin-left: 20%;
}
.top_header p.call span.phone_num{
    font-weight: 700;
}
.top_header p.call span.inform{
    font-weight: 600;
    color: #71aa35;
}
.top_header .top_social{
    float: right;
    margin-right: 50px;
}
.top_header .top_social ul li{
    float: left;
    padding: 10px 10px;
    
}
.top_header .top_social ul li i{
    color: #fff;
}

/*** top header end ***/

/*** logo sec start ***/

.logo_sec{
    width: auto;
    margin-top: 30px;
}
.logo_sec .logo{
    overflow: hidden
}
.menu_sec{
    float: right;
}
#header .navMenu ul button{
    text-align: center;
    border: 1px solid #eb7f23;
    padding: 10.5px 25.2px;
    font-size: 16px;
    color: #eb7f23;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    margin: 16px 0;
}
.mean-container .mean-nav ul button {
	text-align: center;
	border: 1px solid #eb7f23;
	padding: 10px 26px;
	font-size: 16px;
	color: #eb7f23;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	width: 90%;
	margin: 0px auto;
	display: block;
	margin-bottom: 5px;
}
#header .navMenu ul li a{
    text-decoration: none;
    font-family: 'Roboto' !important;
}
/*** logo sec end ***/

/*** top slider sec start ***/

.slider{
    width: auto;
    position: relative;
}
.slider_inner{
    background-image: url(../images/top_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 598px;
    background-position: center center;
}
.slider_inner .slider_cap{
    float: left;
    padding-top: 105px;
}
.slider_inner .slider_cap h1{
    font-size: 60px;
    font-weight: 700;
    color: #71aa35;
    padding-bottom: 25px;
}
.slider_inner .slider_cap p{
    font-size: 23px;
    color: #555555;
    font-weight: 300;
    line-height: 36px;
    font-family: 'Roboto';
    width: 66%;
    padding-bottom: 25px;
    margin-bottom: 0px;
}
.slider_inner .slider_cap button {
	text-align: center;
	border: 1px solid #eb7f23;
	padding: 13px 32.5px;
	font-size: 17px;
	color: #eb7f23;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin: 16px 0;
    float: left;
    font-weight: 700;
}
/*** top slider sec end ***/

/*** what we offer sec start ***/

.we_offer{
    width: auto;
    overflow: hidden;
    padding-top: 80px;
    background-color: #f6f6f6;
    box-shadow: -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
.we_offer h1{
    font-size: 48px;
    color: #5d5d5d;
    font-weight: 300;
    text-align: center;
    line-height: 60px;
    padding-bottom: 60px;
    margin-bottom: 0px;
}
.we_offer h1 span.offer{
    color: #3f3f3f;
    font-weight: 700;
}
.we_offer .offer_det{
    border: 1px solid #cbcbcb;
    text-align: center;
    background-color: #fcfcfc;
    cursor: pointer;
}
.we_offer .offer_det img{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 17px;
}
.we_offer .offer_det h4{
    font-size: 17px;
    color: #323232;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 17px;
    position: relative;
    margin-bottom: 0px;
}
.we_offer .offer_det h4::before{
    position: absolute;
    content: "";
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/offer_det_border.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}
.we_offer .offer_det p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #8a8a8a;
    padding-bottom: 35px;
    margin-bottom: 0px;
    font-family: 'Roboto';
}
.we_offer .offer_det img.arrow{
    padding-top: 0px;
    padding-bottom: 22px;
}
.we_offer button {
	text-align: center;
	border: 1px solid #eb7f23;
	padding: 9.8px 34.9px;
	font-size: 17px;
	color: #eb7f23;
	letter-spacing: 1.5px;
	text-transform: uppercase;
    font-weight: 700;
    margin: 50px auto 80px auto;
    display: block;
}

/*** what we offer sec end ***/

/*** testmonial sec start ***/

.testmonial{
    width: auto;
    overflow: hidden;
    padding-top: 95px;
    text-align: center;
}
.testmonial img{
    width: auto;
    padding-bottom: 45px;
    margin: 0px auto;
}
.testmonial p{
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    position: relative;
    padding-bottom: 30px;
}
.testmonial p::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/testmonial_border.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 98px;
    height: 1px;
    margin: 0px auto;
}
.testmonial span{
    text-align: center;
    font-size: 18px;
    color: #232323;
    padding-top: 25px;
    font-weight: normal;
    display: block;
}


.testmonial #testmonial_sli .slick-dots{
    position: absolute;
	bottom: 0px !important;
	text-align: center;
	left: -4% !important;
	/* right: 0; */
	margin: 0px auto;
}

/*** testmonial sec end ***/

/*** who we rae start ***/

.who_we_are{
    width: auto;
    overflow: hidden;
    padding-top: 190px;
}
.who_we_are h4{
    font-size: 48px;
    text-transform: capitalize;
    color: #5d5d5d;
    margin-bottom: 0px;
    padding-bottom: 30px;
}
.who_we_are h4 span.we_are{
    font-weight: 800;
    color: #3f3f3f;
}
.who_we_are p{
    font-weight: 300;
    font-size: 17px;
    color: #3c3c3c;
    padding-bottom: 30px;
    width: 95%;
    margin-bottom: 0px;
}
.who_we_are ul li{
    list-style: none;
    padding-bottom: 15px;
    font-size: 17px;
    color: #3c3c3c;
    font-family: 'Roboto';
}
.who_we_are ul li img{
    text-align: left;
    padding-right: 15px;
}
.who_we_are ul li:last-child{
    margin-bottom: 40px;
    padding-bottom: 0px;
}
.who_we_are button {
	text-align: center;
	border: 1px solid #eb7f23;
	padding: 9.8px 34.9px;
	font-size: 17px;
	color: #eb7f23;
	letter-spacing: 1.5px;
	text-transform: uppercase;
    font-weight: 700;
    float: left;
    margin-bottom: 20px;
}
.who_we_are img{
    width: auto;
}
.who_we_are .who_pic{
    overflow: hidden;
    height: 429px;
}
.who_we_are .who_pic img {
	margin: 0px -58px;
}
/*** who we rae end ***/

/*** brand sec start ***/

.brand{
    margin-top: 105px;
    background-color: #f7f7f7;
    box-shadow: -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.8);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.8);
    padding: 88px 0px;
}
.brand h4{
    text-align: center;
    font-size: 32px;
    padding-bottom: 65px;
    margin-bottom: 0px;
    font-weight: normal;
}
.brand img{
    display: block;
    margin: 0px auto;
}
.brand img.bank_of_america{
    padding-top: 25px;
}
.brand img.joseph{
    padding-top: 25px;
}

/*** brand sec end ***/

/*** get in touch sec start ***/

.get_in_touch{
    width: auto;
    background-color: #e67a1e;
    text-align: center;
}
.get_in_touch h4{
    font-size: 36px;
    color: #fff;
    padding: 48.3px 0;
    margin-bottom: 0px;
    font-weight: normal;
}
/*** get in touch sec end ***/

/*** footer sec start ***/

footer{
    margin-top: 74px;
}
footer img{
    padding-top: 15px;
    width: auto;
    margin: 0px auto;
    display: block;
}
footer h5{
    font-weight: 700;
    color: #686868;
    font-size: 24px;
    margin-bottom: 0px;
    padding-bottom: 22px;
}
footer h5 span{
    color: #6ca72f;
}
footer ul li{
    list-style: none;
    padding-bottom: 17px;
    color: #686868;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto';
}
footer ul li i{
    text-align: left;
    padding-right: 10px;
    color: #71aa35;
}
/*** footer sec end ***/

/*** copyright sec start ***/

.copyright{
    width: auto;
    background-color: #e6e6e6;
    margin-top: 70px;
    padding: 34px 0;
    text-align: center;
}
.copyright ul{
    margin: 0px;
}
.copyright ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
}
.copyright ul li a{
    font-size: 14px;
    color: #6a6a6a;
    font-weight: 300;
    text-align: center;
    padding: 0 10px;
    border-right: 1px solid #6a6a6a;
    text-align: center !important;
    text-decoration: none;
    font-family: 'Roboto';
}
.copyright ul li:last-child a{
    border: 0px;
}
.copyright ul li:hover a{
    color: #72aa36;
}
.copyright p{
    padding-top: 10px;
    font-size: 14px;
    color: #6a6a6a;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 300;
    font-family: 'Roboto';
}
.copyright p span{
    color: #72aa36;
}
/*** copyright sec end ***/

.ff{
    width: auto;
    height: 598px;
}
.ff img{
    height: 598px;
}